body {
  background-color: #f3f5fc;
  font-family: "Inter", sans-serif;
  height: 1024px;
  width: 1440px;
}

#logo {
  width: 120px;
  height: 48px;
  margin-top: 40px;
  margin-left: 40px;
}

.content3 {
  width: 1440px;
  /* height: 1024px; */
  top: 622px;
  left: -2277px;
  display: grid;
}

.section_2 {
  display: inline-block;
  width: 400px;
  height: 944px;
  right: 40px;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px #00000014;
  position: absolute;
  top: 40px;
  background: #ffffff;
}

.title_text {
  /* width: 680px;
  height: 288px;*/
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
  background: #f3f5fc;
  word-break: break-all;

  width: 577px;
  height: 48px;
  margin-top: 80px;
  margin-left: 240px;

}

.title_text::placeholder {
  color: #0a3871;
}

.container_btns {
  width: 680px;
  height: 67px;
  margin-top: 16px;
  left: 240px;
  /* margin-top: 10px; */
  margin-left: 240px;
}


.btn_Encriptar {
  width: 328px;
  height: 67px;
  background: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
}

.btn_desencriptar {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
}

#title_text2 {
  font-family: Inter;
  font-size: 20px;
  line-height: 48px;
  margin-left: 33px;
  width: 336px;
  /* height: 232px; */
  margin-top: 32px;
  left: 1032px;
}

#section_2imagen {
  margin-left: 33px;
  margin-top: 251px;
}

.section_2text {
  width: 336px;
  /* height: 122px; */
  top: 619px;
  left: 1032px;
  margin-left: 33px;
  margin-top: 40px;
}

.title_text3 {
  font-family: Inter;
  margin-top: 33px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
}

.title_text4 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 16px;
}

.container_advertencia {
  width: 229px;
  height: 16px;
  left: 240px;
  /* margin-bottom: 10px; */
  margin-top: 635px;
  margin-left: 240px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#text_advertencia {
  /* margin-top: 563px;
  margin-left: 240px; */
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 0px;
  /* margin-top: -10px;
  margin-left: 18px; */
}

.btn_copiar {
  width: 336px;
  height: 67px;
  margin-top: 584px;
  margin-left: 33px;
  padding: 24px;
  border-radius: 24px;
  border: 1px;
  color: #0a3871;
  background: #ffffff;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  border: 1px solid #0a3871;
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  body {
    width: 768px;
    /* height: 100vh; */
    height: 1174px;
    overflow: auto;
  }

  #logo {
    background: url(imagenes/Group3.png);
    position: absolute;
    width: 31px;
    height: 46px;
    margin-top: 76px;
    margin-left: 40px;
  }

  .title_text {
    width: 688px;
    height: 48px;
    margin-top: 240px;
    margin-left: 40px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
  }

  .title_text::placeholder {
    color: #0A3871;
  }

  .container_advertencia {
    width: 229px;
    height: 18px;
    margin-top: 596px;
    margin-left: 40px;
  }

  .container_btns {
    margin-left: 40px;
  }

  .section_2 {
    width: 624px;
    height: auto;
    margin-top: 1001px;
    padding: 32px;
  }

  #section_2imagen {
    display: none;
  }

  .section_2text {
    width: 624px;
    height: 70px;
    margin-top: 0px;
    margin-left: auto;

  }

  h3#title_text2 {
    width: 624px;
    max-height: 100%;
    font-size: 24px;
    line-height: 36px;
    color: #495057;
    margin-left: 0px;
    margin-top: 0px;
    overflow-x: hidden;
    position: absolute;
    left: auto;
  }

  .title_text3 {
    margin-top: 0px;
  }

  .btn_copiar {
    width: 624px;
    margin-top: 210px;
    margin-left: 0px;
    padding: 24px;
    border-radius: 24px;
    border: 1px;
    color: #0a3871;
    cursor: pointer;
    font-family: Inter;
    font-size: 16px;
    border: 1px solid #0a3871;
    display: none;
  }

  .content3 {
    background: red;
    height: 100%;
  }

}