body {
  background-color: #f3f5fc;
  font-family: "Inter", sans-serif;
  /* height: 1024px; */
  width: 1440px;
  display: flex;
}

#logo {
  width: 120px;
  height: 48px;
  margin-top: 40px;
  margin-left: 40px;
}

.content3 {
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
}

.section_2 {
  display: flex;
  width: 400px;
  height: 944px;
  right: 40px;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px #00000014;
  background: #ffffff;
}

.title_text {
  /* width: 680px;
  height: 288px;*/
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
  background: #f3f5fc;
  word-break: break-all;
  width: 680px;
  height: 288px;
  margin-top: 80px;
  margin-left: 240px;
  color: #0A3871;


}

.title_text::placeholder {
  color: #0a3871;
}

.container_btns {
  width: 680px;
  margin-top: 16px;
  /* margin-top: 10px; */
  /*margin-left: 240px;*/
}


.btn_Encriptar {
  width: 328px;
  height: 67px;
  background: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
}

.btn_desencriptar {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
}

#title_text2 {
  font-family: Inter;
  font-size: 20px;
  line-height: 36px;
  margin-left: 32px;
  width: 336px;
  height: 781px;
  margin-top: 32px;
  /* left: 1032px; */
  position: absolute;
  overflow: hidden;
}

#section_2imagen {
  margin-left: 33px;
  margin-top: 251px;
}

.section_2text {
  /* height: 122px; */
  top: 619px;
  left: 1032px;
  margin-left: 32px;
  margin-top: 40px;
}

.title_text3 {
  font-family: Inter;
  margin-top: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
}

.title_text4 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 16px;
}

.container_advertencia {
  width: 229px;
  height: 16px;
  left: 240px;
  /* margin-bottom: 10px; */
  margin-top: 395px;
  margin-left: 240px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#text_advertencia {
  /* margin-top: 563px;
  margin-left: 240px; */
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 0px;
  /* margin-top: -10px;
  margin-left: 18px; */
}

.btn_copiar {
  width: 336px;
  height: 67px;
  margin-top: 845px;
  margin-left: 32px;
  padding: 24px;
  border-radius: 24px;
  border: 1px;
  color: #0a3871;
  background: #ffffff;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  border: 1px solid #0a3871;
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  body {
    width: 768px;
    /* height: 100vh; */
  }

  #logo {
    position: absolute;
    height: 46px;
    margin-top: 76px;
    margin-left: 0px;
  }

  .title_text {
    height: 288px;
    margin-top: 240px;
    margin-left: 40px;
  }

  .title_text::placeholder {
    color: #0A3871;
  }

  .container_advertencia {
    /* width: 229px;
    height: 18px; */
    margin-top: 308px;
    margin-left: 40px;
  }

  .container_btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .section_2 {
    width: calc(100% - 144px);
    height: auto;
    padding: 32px;
    margin: 64px 40px 64px 40px;

  }

  #section_2imagen {
    display: none;
  }

  .section_2text {
    /* height: 70px; */
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;

  }

  h3#title_text2 {
    width: 624px;
    /* height: 18%; */
    /* max-height: 100%; */
    font-size: 24px;
    line-height: 36px;
    color: #495057;
    margin-left: 0px;
    margin-top: 0px;
    overflow-x: hidden;
    position: absolute;
    left: auto;
  }

  .title_text3 {
    margin-top: 0px;
  }

  .btn_copiar {
    width: 624px;
    margin-top: 210px;
    margin-left: 0px;
    padding: 24px;
    border-radius: 24px;
    border: 1px;
    color: #0a3871;
    cursor: pointer;
    font-family: Inter;
    font-size: 16px;
    border: 1px solid #0a3871;
    display: none;
  }

  .content3 {
    width: 100%;
    /* top: 2024px;
    left: -2277px; */
  }

}

@media screen and (max-width: 767px) {
  body {
    width: 375px;
  }

  #logo {
    position: absolute;
    margin-top: 25.05px;
    margin-left: -28px;
  }

  .title_text {
    width: 343px;
    height: 624px;
    margin-top: 152px;
    margin-left: 16px;
  }

  .container_advertencia {
    margin-top: 64px;
    margin-left: 16px;
  }

  .container_btns {
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 16px 0 16px;
  }

  .btn_Encriptar {
    margin-bottom: 24px;
    width: 100%;
  }

  .btn_desencriptar {
    width: 100%;
    /*width: 343px;
    padding: 24px;*/
  }

  .section_2 {
    width: calc(100% - 96px);
    height: auto;
    padding: 32px;
    margin: 32px 16px 0 16px;
  }

  #section_2imagen {
    display: none;
  }

  .section_2text {
    height: 122px;
    margin-left: 0px;
    margin-top: 0px;
  }

  h3#title_text2 {
    width: 263px;
    margin: auto;
    height: auto;
    line-height: 36px;
  }

  .title_text3 {
    margin-top: 0px;
    margin-left: 2px;
  }

  .btn_copiar {
    width: 279px;
    margin-top: 464px;
    margin-left: 0px;
  }

  .content3 {
    width: 100%;
  }
}